# dependencies
node_modules/

# production build
build/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env

# operating system files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# React cache
.cache/

# coverage
coverage/